# Location: %USERPROFILE%\bak-zip-cmd\bak-zip.cfg
SMART_TARGET=.\_backup
BACKUP_TARGET=
ZIP_TARGET=

# Comma-separated list of exclusions
EXCLUDES=.git, .env*, .DS_Store, node_modules, dist, build, .vscode*, *lock*, _backup*

# Automatically append exclusions found in the source directory's .gitignore file
EXCLUDE_FOLDERS_AND_FILES_IN_DOT_GITIGNORE=true

# Pause execution on completion/error (useful for Windows Context Menus)
PAUSE_ON_ERROR=true